:root {
  --light-color: #fffffa;
  --orange-color: #ff7200;
  --blue-color: #3a407be3;
  --dark-color: #021718;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
}
