:root {
  --light-color: #fffffa;
  --orange-color: #ff7200;
  --blue-color: #5c5e72e3;
  --dark-color: #373d3d;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  color: var(--dark-color);
}

/* header */
#Wiko-Digital {
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
  padding: 15px;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* Nav bar */
nav {
  height: 72px;
  background: var(--light-color);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 200;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav .menu-items {
  display: flex;
  gap: 100px;
  align-items: space-between;
}

.logo {
  font-size: 25px;
  color: var(--dark-color);
}

nav .menu-items a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.hero-section {
  background-color: var(--orange-color);
  background: url("background image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  height: calc(100vh-72px);
  margin-top: 72px;
}

.hero-section .wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  text-align: center;
  padding: 5.5em 0;
}

#Wiko-Digital2 {
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
  font-size: 3.5em;
  color: var(--light-color);

  position: relative;
  padding: 1em;
}

.slogan {
  font-family: "Dancing Script", sans-serif;
  font-size: 2em;
  color: var(--light-color);

  position: absolute;
  padding: 1em;
}

.hero-color-block {
  display: inline-block;
  height: 100px;
  background-color: var(--blue-color);
  align-items: center;
  width: 100%;
  text-align: center;
  position: relative;
  flex-direction: column;
  color: var(--light-color);
  font-weight: 550;
}

.intro article {
  margin: 20px;
  line-height: 2em;
  align-items: center;
}

.intro .local-header {
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
  font-size: 32px;
  max-width: 920px;
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.intro .local-img {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}

.intro p {
  align-items: center;
  position: relative;
  display: block;
  word-wrap: break-word;
  max-width: 920px;

  background: transparent;
  border: 0;
  margin: auto;
  outline: 0;
  padding: 0;
}

/* Media queries */
@media (min-width: 1300px) {
  .wrapper {
    width: 1200px;
  }
  nav .menu-items a {
    font-size: 17px;
  }
}

@media (max-width: 720px) {
  .wrapper {
    width: 100%;
    padding: 0 32px;
  }
  nav {
    height: 48px;
  }
  nav .menu-items {
    display: none;
  }

  .logo {
    font-size: 15px;
  }
}
