:root {
  --light-color: #fffffa;
  --orange-color: #ff7200;
  --blue-color: #3a407be3;
  --dark-color: #021718;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  min-height: 100vh;
  color: var(--dark-color);
}

#Wiko-Digital {
  font-family: "Pacifico", sans-serif;
  font-weight: 500;
}

a {
  color: var(--dark-color);
  text-decoration: none;
}

.wrapper {
  width: 1000px;
  margin: 0 auto;
}

/* Nav bar */
nav {
  height: 72px;
  background: var(--light-color);
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 200;
}

nav .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

nav .menu-items {
  display: flex;
  gap: 100px;
  align-items: space-between;
}

.logo {
  font-size: 25px;
  color: var(--dark-color);
}

nav .menu-items a {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.hero-section {
  background-color: var(--orange-color);
  background: url("background image.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  height: 30em;
}

.hero-section .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: calc(100vh-72px);
  margin-top: 72px;
}

.hero-section .div {
  align-items: center;
}
